/* flex类 */
.flex-beween{
  display: flex;
  justify-content: space-between;
}

.flex-around{
  display: flex;
  justify-content: space-around;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

/* 选中激活类 */
.active{
  color: #007fff;
}